* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #dddddd;
}

main {
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background: linear-gradient(20deg, #84a9ac, #d9adad);
    color: #1b262c;
    border-radius: 20px;
    box-shadow: 2px 4px 10px grey;
    font-family: 'Francois One', sans-serif;
}

h1 {
    color: #4b5d67;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px grey;
    padding: 1rem;
}

.field {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field label {
    font-size: 1.5rem;
    color: #4b5d67;
}

.field input {
    width: 200px;
    height: 40px;
    border-style: none;
    border-radius: 6px;
    box-shadow: inset 0 2px 2px grey;
    padding: 0.5rem;
    margin-left: 0.5rem;
    outline: none;
}

#button {
    display: flex;
    justify-content: center;
}
    
#calculate {
    width: 320px;
    margin: 1rem;
    padding: 0.7rem;
    border-style: none;
    border-radius: 14px;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Francois One', sans-serif;
    font-size: 1.3rem;
    color: #4b5d67;
    background-color: #dddddd;
    outline: none;
}

#calculate:hover {
    background-color: #d9adad;
    cursor: pointer;
}

#text {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 1.5rem;
    color: #4b5d67;
    height: 200px;
    margin-top: 2rem;
}